
body {
    background-color: rgb(224, 224, 224);
    font-family: Arial;
}
        
        
      
        
        
        #scoreboardDiv {
            position: absolute; 
            margin-top: 20px;          
          
            width:100%;
            height: 200px;
          
        }
        
        #scoreboardDiv p{
            text-align: center;
            font-size: 22px;
            font-weight: bold;
                      
        }
        
        #firstplayerDiv{
            
            position:absolute;
            left: 35%;
            text-align: center;
            
        }
        
        #secondplayerDiv{
            
            position:absolute;
            right: 35%;
            text-align: center;
            
        }




        h1{
            position: absolute;
            right: 46%;
            top: 15%;
        }

        #gameinfoDiv{
            position: absolute;
            right: 44%;
            top: 55%;
        }

        #loginDiv{
            position: absolute;
            right: 37%;
            top: 60%;
        }

        #moveDiv{
            position: absolute;
            right: 40%;
            top: 65%;
        }
        
        #tableDiv{
            position:absolute;
            right:30%;
            top:22%; 
            margin-bottom: 40px;                
        }
        
        #table,td {
            border: 2px solid #0000cc;
            width: 750px;
            height: 50px;
            border-collapse: collapse;
            text-align: center;
            font-style: bold;
                      
        }
        
        
        

        